
<div class="w-full relative bg-base-300  px-4 flex justify-center">
  <div class="p-6 bg-base-200 max-w-6xl w-full min-h-[700px]  z-10">

    <!-- titulo -->
    <div>
    <div class="flex items-center w-full px-4 mb-4">

      <h1 class="text-5xl font-bold">Tech & Soft Skills</h1>
    </div>
    </div>



    <ul class="menu bg-base-300 lg:menu-horizontal rounded-box ">
      <li>
        <button
        (click)="activeTab.set('tech')"
        [class.selected]="activeTab() === 'tech'"

        >

          Tech Skills
          <span class="badge badge-xs">99+</span>
        </button>
      </li>
      <li>
        <button
        (click)="activeTab.set('soft')"
        [class.selected]="activeTab() === 'soft'"

        >

          Soft Skills
          <span class="badge badge-xs badge-warning">NEW</span>
        </button>
      </li>
    </ul>

    <!-- botones -->
    @if (activeTab() === 'tech') {
      <app-tech-card></app-tech-card>
    } @else if (activeTab() === 'soft') {
      <app-soft-card></app-soft-card>
    }

</div>

</div>



