<div class="bg-orange-100 w-full max-w-6xl mx-auto p-10 rounded-3xl border border-orange-300 shadow-xl my-10">
  <h3 class="text-3xl font-bold text-orange-900 mb-10 text-center">💡 Soft Skills</h3>

    <div class="card flex gap-6 overflow-x-auto whitespace-nowrap px-2">

      <div class="card  min-w-[300px] flex-1 max-w-sm">
        <div class="item item--1">
          <img src="/assets/images/continuous-learning.png" alt="Aprendizaje Continuo" class="w-16 h-16">
          <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Aprendizaje<br>Continuo</span>
        </div>
        <div class="item item--2">
          <img src="/assets/images/adaptability.png" alt="Adaptabilidad" class="w-16 h-16">
          <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Adaptabilidad</span>
        </div>
        <div class="item item--3">
          <img src="/assets/images/proactive.png" alt="Proactividad" class="w-16 h-16">
          <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Proactividad</span>
        </div>
        <div class="item item--4">
          <img src="/assets/images/time.png" alt="Gestión del Tiempo" class="w-16 h-16">
          <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Gestión<br>del Tiempo</span>
        </div>
      </div>


    <div class="card  min-w-[300px] flex-1 max-w-sm">
      <div class="item item--5">
        <img src="/assets/images/empathy.png" alt="Empatía" class="w-16 h-16">
        <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Empatía</span>
      </div>
      <div class="item item--6">
        <img src="/assets/images/teamwork.png" alt="Trabajo en Equipo" class="w-16 h-16">
        <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Trabajo<br>en Equipo</span>
      </div>
      <div class="item item--7">
        <img src="/assets/images/troubleshooting.png" alt="Resolución de Problemas" class="w-16 h-16">
        <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Resolución<br>de Problemas</span>
      </div>
      <div class="item item--8">
        <img src="/assets/images/interaction.png" alt="Comunicación" class="w-16 h-16">
        <span class="mt-2 text-center text-sm font-medium text-orange-800 block">Comunicación</span>
      </div>
    </div>

  </div>




</div>







