<div class="p-6 bg-[#3c1e1e] bg-opacity-90">
  <h1
  class="text-3xl font-[Press_Start_2P] text-pink text-center mb-6
         animate-pulse drop-shadow-md tracking-widest uppercase">
  < Skills />
</h1>
<div class="join grid grid-cols-2 w-fit mx-auto">
  <button
    class="join-item px-6 py-3 font-bold bg-black text-rose-300 border border-rose-400 hover:bg-rose-300 hover:text-black transition-colors duration-200 shadow-md"
    routerLink="technology"
    routerLinkActive="!bg-rose-400 !text-black"
  >
    Tech Skills
  </button>
  <button
    class="join-item px-6 py-3 font-bold bg-black text-rose-300 border border-rose-400 hover:bg-rose-300 hover:text-black transition-colors duration-200 shadow-md"
    routerLink="soft"
    routerLinkActive="!bg-rose-400 !text-black"
  >
    Soft Skills
  </button>
</div>



<div class="flex flex-col min-h-[600px]">
  <div class="p-6 bg-[#3c1e1e] bg-opacity-90 flex-grow">

    <router-outlet></router-outlet>
  </div>
</div>

</div>

