<div class="p-6 bg-[#3c1e1e] bg-opacity-90">
  <h1
  class="text-3xl font-[Press_Start_2P] text-pink text-center mb-6
         animate-pulse drop-shadow-md tracking-widest uppercase">
  < Skills />
</h1>
<div class="join grid grid-cols-2 w-fit mx-auto">
  <button
    class="join-item px-6 py-3 font-bold bg-black text-rose-300 border border-rose-400 hover:bg-rose-300 hover:text-black transition-colors duration-200 shadow-md"
  >
    Skills
  </button>
  <button
    class="join-item px-6 py-3 font-bold bg-rose-300 text-black border border-rose-400 hover:bg-rose-400 transition-colors duration-200 shadow-md"
  >
    Soft Skills
  </button>
</div>





</div>